@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

body {
	background: #fff;
	color: #333;
	font-size: 14px;
	font-family: 'Poppins', sans-serif !important;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}